*{
    margin:0px;
    overflow-x:hidden;
}
body{
    background: #17161A;
}

.northindexlogo{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 213px;
height: 30px;
left: 100px;
top: 25px;
}
.goindex{
    /* главная */


width: 76px;
height: 22px;
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
top: 29px;
left:860px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
text-decoration: none;

}
.goform{
    /* главная */


width: 76px;
height: 22px;
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
top: 29px;
left:1000px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
text-decoration: none;

}
.greet{
    width: 606px;
height: 78px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
/* identical to box height */
left:188px;
top:428px;
position: absolute;

color: #FFFFFF;
}
.greetpromo{
    width: 472px;
height: 90px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */
left:188px;
top:528px;
position: absolute;
display: flex;
align-items: center;
font-variant: small-caps;

color: #FFFFFF;
}
.goformbtn{
    display: flex;
flex-direction: row;
align-items: flex-start;

gap: 10px;

width: 202px;
height: 62px;

position: absolute;
left:188px;
top:658px;
background: #082135;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.criterii{
    position: absolute;
width: 1920px;
height: 577px;
left: 0px;
top: 1059px;

background: #082135;
}
.twoplayers{
position: absolute;
width: 850px;
height: 693.83px;
left: 1024px;
z-index: 2;
top: 365px;
}
.biglogo{
    position: absolute;
width: 1152px;
height: 1089px;
left: 818px;
top: 5px;
z-index: -1;
}
.requirment{
    position: absolute;
width: 374px;
height: 344px;
left: 196px;
top: 1173px;
width: 374px;
height: 116px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* or 58px */


color: #FFFFFF;
}
.bob{
    width: 261px;
height: 22px;
top:1333px;
left:196px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
position: absolute;
/* identical to box height */


color: #C0C0C0;
}
.elo{
    width: 104px;
height: 29px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1380px;
left:220px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.age{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1420px;
left:220px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.formrequire{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1460px;
left:220px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.freeagent{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1500px;
left:220px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.crosshair1{
width: 20px;
height: 20px;
position: absolute;
top:1385px;
left:196px;
}
.crosshair2{
width: 20px;
height: 20px;
position: absolute;
top:1425px;
left:196px;
}
.crosshair3{
width: 20px;
height: 20px;
position: absolute;
top:1465px;
left:196px;
}
.crosshair4{
width: 20px;
height: 20px;
position: absolute;
top:1505px;
left:196px;
}
.wbg{
    position: absolute;

left: 1275px;
top: 1165px;
width: 452px;
height: 116px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* or 58px */


color: #FFFFFF;
}
.crosshair5{
    width: 20px;
    height: 20px;
    position: absolute;
    top:1385px;
    left: 1275px;
    }
    .crosshair6{
    width: 20px;
    height: 20px;
    position: absolute;
    top:1425px;
    left: 1275px;
    }
    .crosshair7{
    width: 20px;
    height: 20px;
    position: absolute;
    top:1465px;
    left: 1275px;
    }
.crosshair8{
    width: 20px;
    height: 20px;
    position: absolute;
    top:1505px;
    left: 1275px;
    }
.priority{
    width: 261px;
    height: 22px;
    top:1333px;
    left: 1275px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: absolute;

    
    
    color: #C0C0C0;
}
.hltv{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1380px;
left:1299px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.media{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1420px;
left:1299px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.expirience{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1460px;
left:1299px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.english{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
top:1500px;
left:1299px;
position: absolute;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.requirments{
    position: absolute;
width: 514px;
height: 156px;
left: 703px;
top: 1844px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
text-align: center;

color: #FFFFFF;
}
.faceit{
    position: absolute;
width: 96px;
height: 96px;
left: 347px;
top: 2160px;
}
.video{
    position: absolute;
    width: 96px;
    height: 80.83px;
left: 900px;
top: 2160px;
}
.doc{
    position: absolute;
width: 96px;
height: 96px;
left: 1417px;
top: 2160px;

}
.faceitinfo{
    width: 318px;
    height: 37px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    position: absolute;
    left: 240px;
top: 2300px;
    
    color: #FFFFFF;
      
}
.videoinfo{

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    position: absolute;
    left: 755px;
top: 2300px;
    
    color: #FFFFFF;
}
.docinfo{

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    position: absolute;
    left: 1340px;
top: 2300px;
    
    color: #FFFFFF;
}
.faceitinfo2{
    width: 334px;
height: 54px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
position: absolute;
left: 235px;
top: 2350px;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.videoinfo2{
    width: 358px;
    height: 54px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
position: absolute;
left: 765px;
top: 2350px;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.docinfo2{
    width: 355px;
    height: 54px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
position: absolute;
left: 1285px;
top: 2350px;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.youthk{
    
position: absolute;
width: 600px;
height: 44px;
left: 660px;
top: 2523px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
}
.goformbtn2{
    position: absolute;
width: 350px;
height: 60px;
left: 785px;
top: 2588px;

}
.whatsnext{
    position: absolute;

height: 78px;
left: 188px;
top: 2890px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.nextinfo{
    position: absolute;
width: 768px;
height: 340px;
left: 188px;
top: 3008px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #FFFFFF;
}
.northlogoback2{
    position: absolute;
width: 962px;
height: 928px;
left: 1098px;
top: 2715px;
}
.footer{
    position: absolute;
width: 1920px;
height: 311px;
left: 0px;
top: 3722px;

background: #0F0F0F;
}
.footerlogo{
    position: absolute;
width: 121px;
height: 116px;
left: 907px;
top: 3729px;

}
.footertext{
    position: absolute;
    width: 818px;
    height: 44px;
    left: 551px;
    top: 3854px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #C0C0C0;
    
}
.hashtag{
    
position: absolute;
width: 110px;
height: 22px;
left: 907px;
top: 3906px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.twitterfooter{
    position: absolute;


left: 826px;
top: 3955px;
}
.discordfooter{
    position: absolute;

left: 888px;
top: 3955px;
}
.facebookfooter{
    position: absolute;

left: 956px;
top: 3955px;
}
.youtubefooter{
    position: absolute;

left: 1011px;
top: 3955px;
}
.vkfooter{
    position: absolute;

left: 1073px;
top: 3955px;
}
.copyright{
    position: absolute;
width: 258px;
height: 17px;
left: 833px;
top: 4012px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #C0C0C0;
}
.backlogomob{
    display: none;
}
.academymoblogo{
display: none;
}
.twoplayersipad{
    display: none;
}
.ipadbacklogo{
    display: none;
}

@media screen and (min-device-width: 390px) and (max-device-width: 391px) { 
.northindexlogo{
    display: none;
}

.ipadbacklogo{
    display: none;
}
.gofrom{
    display: none;
}
.academymoblogo{
    position: absolute;
width: 204px;

left: 8px;
top: 11px;
display: initial;
}
.goindex{
    position: absolute;
width: 101px;
height: 29px;
left: 283px;
top: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;

}
.greet{
    width: 341px;
    height: 44px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    left:8px;
    top:134px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.greetpromo{
    width: 270px;
    height: 96px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    display: flex;
    align-items: center;
    font-variant: small-caps;
    
    color: #FFFFFF;
    left:8px;
    top:196px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.goformbtn{
    left:8px;
    top:326px;
    width: 202px;
    height: 62px;
    
    background: #082135;
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.criterii{
    position: absolute;
width: 390px;
height: 938px;
left: 0px;
top: 473px;

background: #082135
}
.requirment{
    position: absolute;
width: 312px;
height: 96px;
left: 8px;
top: 510px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* or 48px */


color: #FFFFFF;
}
.bob{
    position: absolute;
    width: 232px;
    height: 20px;
    left: 8px;
    top: 646px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #C0C0C0;
}
.elo{
    position: absolute;
    width: 78px;
    height: 22px;
    left: 41px;
    top: 680px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.age{
    position: absolute;
    width: 212px;
    height: 22px;
    left: 41px;
    top: 734px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.formrequire{
    position: absolute;
    width: 186px;
    height: 22px;
    left: 41px;
    top: 788px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.freeagent{
    position: absolute;
    width: 239px;
    height: 22px;
    left: 41px;
    top: 842px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.crosshair1{
    position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 681px;

}
.crosshair2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 735px;
    
}
.crosshair3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 789px;

}
.crosshair4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 843px;
     
}
.crosshair5{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 1134px;
     
}
.crosshair6{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 1188px;
    
     
}
.crosshair7{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 1242px;
     
}
.crosshair8{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 1296px;
    
     
}
.wbg{
    position: absolute;
    width: 377px;
    height: 96px;
    left: 8px;
    top: 963px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */
    
    
    color: #FFFFFF;
     
}
.priority{
    position: absolute;
width: 228px;
height: 20px;
left: 8px;
top: 1099px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #C0C0C0;
}
.hltv{
    position: absolute;
    width: 139px;
    height: 22px;
    left: 41px;
    top: 1133px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.media{
    position: absolute;
    width: 117px;
    height: 22px;
    left: 41px;
    top: 1187px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.expirience{
    position: absolute;
    width: 318px;
    height: 22px;
    left: 41px;
    top: 1241px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
.english{
    position: absolute;
    width: 253px;
    height: 22px;
    left: 41px;
    top: 1295px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.requirments{
    position: absolute;
width: 322px;
height: 98px;
left: 34px;
top: 1440px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}
.faceit{
    position: absolute;
width: 96px;
height: 96px;
left: 147px;
top: 1637px;
}
.faceitinfo{
    position: absolute;
width: 318px;
height: 37px;
left: 36px;
top: 1776px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;

}
.faceitinfo2{
    position: absolute;
width: 334px;
height: 54px;
left: 28px;
top: 1829px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.video{
    position: absolute;
width: 96px;
height: 80.83px;
left: 146.5px;
top: 1990px;
}
.videoinfo{
    position: absolute;
width: 373px;
height: 37px;
left: 8px;
top: 2128.83px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;
}
.videoinfo2{
    position: absolute;
width: 334px;
height: 114px;
left: 27.5px;
top: 2181.83px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.doc{
    position: absolute;
width: 96px;
height: 96px;
left: 146.5px;
top: 2343px;

}
.docinfo{
    position: absolute;
width: 260px;
height: 37px;
left: 64.5px;
top: 2482px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;

}
.docinfo2{
    position: absolute;
width: 355px;
height: 54px;
left: 17px;
top: 2535px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-align: center;

color: #FFFFFF;
}
.youthk{
    position: absolute;
width: 383px;
height: 82px;
left: 7px;
top: 2674px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;

}
.goformbtn2{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 24px;
    top: 2761px;
    
}
.whatsnext{
    position: absolute;


left: 8px;
top: 2903px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.nextinfo{
    position: absolute;
    width: 353px;
    height: 378px;
    left: 8px;
    top: 2971px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    
    color: #FFFFFF;
}
.northlogoback2{
display: none;
}
.backlogomob{
    position: absolute;
width: 343px;
height: 630px;
left: 47px;
top: 2865px;
z-index: -1;
display: none;
}

.footer{
    position: absolute;
width: 390px;
height: 444px;
left: 0px;
top: 3495px;

background: #0F0F0F;
}
.footerlogo{
    position: absolute;
    width: 99px;
    height: 96px;
    left: 149px;
    top: 3502px; 
}
.footertext{
    position: absolute;
width: 325px;
height: 165px;
left: 33px;
top: 3624px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #C0C0C0;
}
.hashtag{
    position: absolute;
width: 117px;
height: 27px;
left: 137px;
top: 3785px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
.copyright{
    position: absolute;
width: 186px;
height: 42px;
left: 102px;
top: 3880px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;

color: #C0C0C0;
}
.twitterfooter{
    position: absolute;
    width: 35px;

    left: 69px;
    top: 3816px;
    
}
.youtubefooter{
    position: absolute;
    width: 35px;

    left: 227px;
    top: 3816px;
}
.vkfooter{
    position: absolute;
    width: 35px;

    left: 286px;
    top: 3816px;
}
.discordfooter{
    position: absolute;
    width: 35px;

    left: 128px;
    top: 3816px;
}
.facebookfooter{
    position: absolute;
    width: 16px;

    left: 187px;
    top: 3816px;
}
.goform{
    display:none;
}
.biglogo{
    display:none;
}
.twoplayers{
    display:none;
}
}
@media screen and (min-width: 834px) and (max-width: 835px) { 
.northindexlogo{
    position: absolute;
    width: 213px;
    height: 30px;
    left: 36px;
    top: 25px;
}
.goindex{
    position: absolute;
    width: 117px;
    height: 22px;
    left: 696px;
    top: 29px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #FFFFFF; 
}
.greet{
    position: absolute;
width: 606px;
height: 78px;
left: 36px;
top: 250px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
/* identical to box height */


color: #FFFFFF;
}
.greetpromo{
    position: absolute;
width: 472px;
height: 90px;
left: 36px;
top: 360px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

display: flex;
align-items: center;
font-variant: small-caps;

color: #FFFFFF;
}
.goformbtn{
    display: flex;
flex-direction: row;
align-items: flex-start;



position: absolute;
width: 202px;
height: 62px;
left: 36px;
top: 492px;

background: #082135;
border-radius: 8px;
}
.twoplayersipad{
    position: absolute;
width: 605px;
height: 607.31px;
left: 227px;
top: 382px;
display: initial;
}
.twoplayers{
    display:none;
}
.biglogo{
    display:none;
}
.requirment{
    position: absolute;
    width: 374px;
    height: 116px;
    left: 80px;
    top: 989px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    
    
    color: #FFFFFF;
}
.criterii{
    position: absolute;
width: 834px;
height: 938px;
left: 0px;
top: 964px;

background: #082135;
}
.bob{
    position: absolute;
    width: 261px;
    height: 22px;
    left: 80px;
    top: 1145px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #C0C0C0;
}
.elo{
    position: absolute;
    width: 104px;
    height: 29px;
    left: 113px;
    top: 1181px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.age{
    position: absolute;
    width: 282px;
    height: 29px;
    left: 113px;
    top: 1242px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
.formrequire{
    position: absolute;
    width: 248px;
    height: 29px;
    left: 113px;
    top: 1303px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.freeagent{
    position: absolute;
    width: 319px;
    height: 29px;
    left: 113px;
    top: 1364px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
.crosshair1{
    position: absolute;
width: 20px;
height: 20px;
left: 80px;
top: 1185.5px;

}
.crosshair2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1246.5px;

}
.crosshair3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1307.5px;

}
.crosshair4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1368.5px;

}
.crosshair5{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1650.5px;

}
.crosshair6{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1711.5px;

}
.crosshair7{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1772.5px;

}
.crosshair8{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 1833.5px;

}
.priority{
    position: absolute;
width: 256px;
height: 22px;
left: 80px;
top: 1610px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #C0C0C0;
}
.hltv{
    position: absolute;
width: 185px;
height: 29px;
left: 113px;
top: 1646px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.media{
    position: absolute;
width: 156px;
height: 29px;
left: 113px;
top: 1707px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}
.expirience{
    position: absolute;
width: 424px;
height: 29px;
left: 113px;
top: 1768px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}
.english{
    position: absolute;
width: 337px;
height: 29px;
left: 113px;
top: 1829px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}
.requirments{
    position: absolute;
width: 514px;
height: 156px;
left: 160px;
top: 1947px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
text-align: center;

color: #FFFFFF;

}
.wbg{
    position: absolute;
width: 452px;
height: 116px;
left: 80px;
top: 1454px;
}
.faceit{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 369px;
    top: 2210px;
}
.faceitinfo{
    position: absolute;
    width: 318px;
    height: 37px;
    left: 258px;
    top: 2349px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.faceitinfo2{
    position: absolute;
    width: 334px;
    height: 54px;
    left: 250px;
    top: 2402px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    text-align: center;
    
    color: #FFFFFF;
}
.video{
    position: absolute;
    width: 96px;
    height: 80.83px;
    left: 368.5px;
    top: 2563px;
}
.videoinfo{
    position: absolute;
    width: 373px;
    height: 37px;
    left: 230px;
    top: 2701.83px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.videoinfo2{
    position: absolute;
    width: 334px;
    height: 84px;
    left: 249.5px;
    top: 2754.83px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    text-align: center;
    
    color: #FFFFFF;
}
.doc{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 368.5px;
    top: 2916px;
}
.docinfo{
    position: absolute;
    width: 260px;
    height: 37px;
    left: 286.5px;
    top: 3055px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.docinfo2{
    position: absolute;
    width: 355px;
    height: 54px;
    left: 239px;
    top: 3108px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    
    text-align: center;
    
    color: #FFFFFF;
    
}
.youthk{
    position: absolute;
width: 600px;
height: 44px;
left: 117px;
top: 3269px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;

}
.goformbtn2{
    position: absolute;
width: 350px;
height: 60px;
left: 242px;
top: 3334px;

background: #082135;
}
.whatsnext{
    position: absolute;
width: 450px;
height: 78px;
left: 37px;
top: 3456px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-align: center;

}
.nextinfo{
    position: absolute;
width: 528px;
height: 470px;
left: 37px;
top: 3574px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #FFFFFF;

}
.footer{
    position: absolute;
width: 834px;
height: 387px;
left: 2px;
top: 4167px;

background: #0F0F0F;
}
.footerlogo{
    position: absolute;
width: 121px;
height: 117px;
left: 357px;
top: 4172px;
}
.footertext{
    position: absolute;
    width: 564px;
    height: 81px;
    left: 134px;
    top: 4296px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #C0C0C0;
}
.hashtag{
    position: absolute;
    width: 114px;
    height: 27px;
    left: 360px;
    top: 4384px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}
.twitterfooter{
    position: absolute;
    width: 35px;

    left: 291px;
    top: 4451px;
    
}
.discordfooter{
    position: absolute;
    width: 35px;

    left: 350px;
    top: 4451px;
}
.facebookfooter{
    position: absolute;
    width: 16px;

    left: 409px;
    top: 4451px;
}
.youtubefooter{
    position: absolute;
    width: 35px;

    left: 449px;
    top: 4451px;
}
.vkfooter{
    position: absolute;
    width: 35px;

    left: 508px;
    top: 4451px;
}
.copyright{
    position: absolute;
width: 277px;
height: 23px;
left: 283px;
top: 4524px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #C0C0C0;
}
.northlogoback2{
    display: none;
}
.goform{
    display: none;
}
.ipadbacklogo{
    position: absolute;
width: 399px;
height: 630px;

top: 3456px;
display: initial;

left: 435px;
z-index: -1;
}
}

